/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}
h3 {
    font-size: 1.2rem !important;
    font-weight: 500;
}

img {
    display: block;
    max-width: 100%;
}


a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}


.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}
.about-us{
    background-image: url("bg-sn.jpg");
    background-repeat: no-repeat;
background-size: 100%;
}
.cta-green {
    background: #0abde3;
    color: #192440;
}

.servicos img{
    margin: 10px;
}

.cta-green:hover {
    color: #ffffff;
    background: #0abde3;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

.slide-container{
    max-width: 100%;
    width: 100%;
    background-color: none;
    padding: 40px 0;
}

.slide-content{


    margin: 0 40px;
    overflow: hidden;
}

.card{
    max-width: 320px;
    
    border-radius: 25px 0 25px 0 0;
    background-color: #FFF;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0ABDE3;
    border-radius: 0px 0px 0px 25px;
    
}
.overlay::before, .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #0ABDE3;
}
.overlay::after{
    border-radius: 0px 25px 0 0;
    background-color: #fff;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #0ABDE3;
}

.name{
    
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.buttoncard{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #182C61;
    border-radius: 6px;
    margin: 14px;
    transition: all 0.3s ease;
}
.buttoncard:hover{
    background-color: #265DF2;
}
.swiper-navBtn{
    color: #0ABDE3;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #121a2e;
}
.swiper-navBtn::before, 
.swiper-navBtn::after{
    font-size: 40px;
}

.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}

.swiper-pagination-bullet{
    background-color: #0ABDE3;
    opacity: 1;
     
}
.swiper-pagination-bullet-active{
    background-color: #121a2e;
     
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }

    .swiper-navBtn{
        display: none;
    }
}



.fakebody{
    background-image: url(/siteGrupoInovar/img/background-fakebody.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}
.img-box{
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box img{
    width: 100%;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size: 30px;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #FF008A;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #ff008869;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background: #FF008A;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}
































#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 120px;
}

/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #0abde3 0);
}

#feature-last {
    background: #0abde3;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #0abde3;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #0abde3;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #0abde3;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}